.card {
    border: solid black;
    background-color: aqua;
}

.card__text {
    margin: 0px;
    padding: 8px 0px
}

.card__order {
    margin: 0px;
    padding: 8px 0px
}

.card__info {
    margin: 0px;
}

.card__date {
    margin: 0px;
    padding: 8px 0px
}


.card__button-delete {
    margin: 0px;
}

.card__button-done {
    margin: 0px;
}