@import '../../utils/generalStyles.scss';

//all styles for draggable cards

.card {
    position: relative;
    margin: 10px 0px;
    padding: 10px;
    background-color: white;
    cursor: grab;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0.1px $shadowThemeColor;
    transition: margin 0.1s ease-out;
}

.card__header {
    display: flex;
    justify-content: space-between;
}

.card__text {
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 8px 0px;
    overflow: hidden;
    pointer-events: none;
    font-weight: 500;
}

.card__button-delete {
    width: 20px;
    height: 20px;
    background-color: $greyFunctionalColor;
    border: none;
    border-radius: 8px;
    font-weight: bold;

    &:hover {
        background-color: $redFunctionalColor;
        @include elementShadow;
    }
}

.card__order {
    margin: 0px;
    padding: 8px 0px;
    pointer-events: none
}

.card__info {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 8px 0;
    pointer-events: none;
}

.card__logo-img {
    width: 15px;
    height: 15px;
    pointer-events: none;
}

.card__date {
    margin: 0px 5px;
    padding: 0px 0px;
    pointer-events: none;
}

.card__button-status_undone {

    width: 70px;
    height: 30px;
    background-color: $greyFunctionalColor;
    border: none;
    border-radius: 8px;
    font-weight: bold;

    &:hover {
        background-color: $greenFunctionalColor;
        @include elementShadow;
    }
}

.card__button-status_done {

    width: 70px;
    height: 30px;
    background-color: $greenFunctionalColor;
    border: none;
    border-radius: 8px;
    font-weight: bold;

    &:hover {
        background-color: $greenFunctionalColor;
        @include elementShadow;
    }
}

.card_pointer-switch {
    pointer-events: none
}

@keyframes opacityAnim {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.card__label {
    position: absolute;
    left: calc(50% - 40px);
    width: 80px;
    border-radius: 5px;
    pointer-events: none;
    font-weight: bold;
    text-align: center;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-name: opacityAnim;
}