@import '../../utils/generalStyles.scss';

//all styles for header

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    padding: 10px 0px;
    box-sizing: border-box;
    background: linear-gradient(90deg, $darkBlueThemeColor, $blueThemeColor);
}

.header__logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__logo-img {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.header__logo-text {
    margin: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}