@import '../../utils/generalStyles.scss';

//all styles for branches whitch are containers for draggable cards

.branch {
    min-width: 260px;
    height: 100%;

    @media screen and (max-width: 400px) {
        min-width: 150px;
        width: 100%;
        height: auto;
    }
}

.branch-container {
    width: 240px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: $lightBlueThemeColor;
    border-radius: 10px;
    @include elementShadow;

    @media screen and (max-width: 400px) {
        width: auto;
    }
}

.branch__name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branch__name {
    overflow: hidden;
    margin: 7px 0px 7px 0px;
    font-weight: bold;
}

.branch__button-delete {
    min-width: 25px;
    height: 25px;
    margin: 0px 0px 0px 10px;
    padding: 0px;
    background-color: $greyFunctionalColor;
    border: none;
    border-radius: 8px;
    font-weight: bold;

    &:hover {
        background-color: $redFunctionalColor;
        @include elementShadow;
    }
}

.branch__form-new-card {
    margin: 10px 0px 0px;

    @media screen and (max-width: 400px) {
        display: flex;
        width: 100%
    }
}

.branch__input-new-card {
    height: 20px;
    width: 150px;
    margin: 0px 10px 0px 0px;
    border: 2px solid $greyFunctionalColor;
    border-radius: 5px;

    @media screen and (max-width: 400px) {
        width: 75%;
    }
}

.branch__button-add-card {
    flex: 0 0 auto;
    width: 50px;
    height: 25px;
    background-color: $greyFunctionalColor;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;

    &:hover {
        background-color: $blueFunctionalColor;
        @include elementShadow;
    }
}