.branch-holder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 60px 10px 10px 10px;
    overflow: auto;
    width: 100%;
    min-height: 100vh;
    height: 1px;
    box-sizing: border-box;
    background: linear-gradient(217deg, #00A3FF, rgba(0, 247, 255, 0) 70%),
        linear-gradient(127deg, rgb(0, 234, 255), rgba(248, 248, 248, 0) 60%),
        linear-gradient(336deg, rgb(136, 0, 255), rgba(111, 0, 255, 0));
}

.branch-holder__form-new-branch {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    padding: 10px;
    background-color: #D2EFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px grey;
}

.branch-holder__input-new-branch {
    height: 20px;
    border-radius: 5px;
    border: 2px solid #cecdcd;
    width: 150px;
    margin: 0px 10px 0px 0px;
}

.branch-holder__button-add-branch {
    font-weight: bold;
    width: 50px;
    height: 25px;
    font-size: 15px;
    border: none;
    background-color: #cecdcd;
    border-radius: 8px;
    padding: 0px 10px;
}

.branch-holder__button-add-branch:hover {
    background-color: #91a9ff;
    box-shadow: 0px 0px 5px 1px grey;

}