@import '../../utils/generalStyles.scss';

//all styles for branchHoder whitch is container for branches with cards

.branch-holder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 1px;
    height: 100%;
    padding: 60px 10px 10px 10px;
    overflow: auto;
    box-sizing: border-box;

    @media screen and (max-width: 400px) {
        flex-direction: column;
        align-items: center;
        overflow: hidden
    }
}

.branch-holder__form-new-branch {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    padding: 10px;
    background-color: $lightBlueThemeColor;
    border-radius: 10px;
    @include elementShadow;

    @media screen and (max-width: 400px) {
        width: 86%;
        margin: 10px 0px;
    }
}

.branch-holder__input-new-branch {
    height: 20px;
    width: 150px;
    margin: 0px 10px 0px 0px;
    border: 2px solid $greyFunctionalColor;
    border-radius: 5px;

    @media screen and (max-width: 400px) {
        width: 75%;
    }
}

.branch-holder__button-add-branch {
    width: 50px;
    height: 25px;
    padding: 0px 10px;
    background-color: $greyFunctionalColor;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;

    &:hover {
        background-color: $blueFunctionalColor;
        @include elementShadow;
    }
}

.branch-holder__error {
    margin: 10px 10px;
    padding: 10px;
    color: $alertFunctionalColor;
    font-size: 23px;
    background-color: $lightBlueThemeColor;
    border-radius: 10px;
    @include elementShadow;
}